### Import modules

In [1]:
import datetime
import pandas
import numpy

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

### Helper function to generate random dt between year range

In [4]:
def get_random_dt(year_low, year_high):
    
    year = numpy.random.randint(year_low, year_high + 1)
    month = numpy.random.randint(1,13)
    
    if month in [1,3,5,7,8,10,12]:
        day = numpy.random.randint(1,32)
    elif month in [4,6,9,11]:
        day = numpy.random.randint(1,31)
    else:
        day = numpy.random.randint(1,29)
        
    hour = numpy.random.randint(0,24)
    minute = numpy.random.randint(0,60)
    second = numpy.random.randint(0,60)
    
    dt = datetime.datetime(year, month, day, hour, minute, second)
    
    return dt

In [5]:
get_random_dt(1900,2018)

datetime.datetime(1978, 8, 26, 1, 11, 17)

In [6]:
dates = []

for n in range(500):
    dates.append(get_random_dt(1850,2050))

In [7]:
data = pandas.DataFrame(pandas.Series(dates).rename("datetime"))

In [8]:
data.head(10)

             datetime
0 1861-06-02 01:26:34
1 1935-09-04 15:18:54
2 1963-08-28 04:40:01
3 1923-07-17 17:59:22
4 1954-12-13 21:23:11
5 2015-11-12 12:37:36
6 1947-03-01 09:58:40
7 2001-04-28 05:00:06
8 1859-05-16 10:54:21
9 1992-06-30 05:49:15

### Feature Engineering Step
- `strftime()` reference: http://strftime.org/

In [13]:
data["year"] = data["datetime"].dt.year
data["month"] = data["datetime"].dt.month
data["day"] = data["datetime"].dt.day
data["hour"] = data["datetime"].dt.hour
data["minute"] = data["datetime"].dt.minute
data["second"] = data["datetime"].dt.second

data["dayofweek"] = data["datetime"].dt.dayofweek
data["quarter"] = data["datetime"].dt.quarter

data["strftime_%m"] = data["datetime"].dt.strftime("%m")
data["strftime_%b"] = data["datetime"].dt.strftime("%b")
data["strftime_%B"] = data["datetime"].dt.strftime("%B")
data["strftime_%a"] = data["datetime"].dt.strftime("%a")
data["strftime_%A"] = data["datetime"].dt.strftime("%A")
data["strftime_%p"] = data["datetime"].dt.strftime("%p")

### Preview

In [14]:
data

,datetime,year,month,day,hour,minute,second,dayofweek,quarter,strftime_%m,strftime_%b,strftime_%B,strftime_%a,strftime_%A,strftime_%p
0,1861-06-02 01:26:34,1861,6,2,1,26,34,6,2,06,Jun,June,Sun,Sunday,AM
1,1935-09-04 15:18:54,1935,9,4,15,18,54,2,3,09,Sep,September,Wed,Wednesday,PM
2,1963-08-28 04:40:01,1963,8,28,4,40,1,2,3,08,Aug,August,Wed,Wednesday,AM
3,1923-07-17 17:59:22,1923,7,17,17,59,22,1,3,07,Jul,July,Tue,Tuesday,PM
4,1954-12-13 21:23:11,1954,12,13,21,23,11,0,4,12,Dec,December,Mon,Monday,PM
5,2015-11-12 12:37:36,2015,11,12,12,37,36,3,4,11,Nov,November,Thu,Thursday,PM
6,1947-03-01 09:58:40,1947,3,1,9,58,40,5,1,03,Mar,March,Sat,Saturday,AM
7,2001-04-28 05:00:06,2001,4,28,5,0,6,5,2,04,Apr,April,Sat,Saturday,AM
8,1859-05-16 10:54:21,1859,5,16,10,54,21,0,2,05,May,May,Mon,Monday,AM
9,1992-06-30 05:49:15,1992,6,30,5,49,15,1,2,06,Jun,June,Tue,Tuesday,AM
10,1956-11-22 21:13:44,1956,11,22,21,13,44,3,4,11,Nov,November,Thu,Thursday,PM
11,1977-05-13 14:32:29,1977,5,13,14,32,29,4,2,05,May,May,Fri,Friday,PM
12,1955-10-24 22:51:30,1955,10,24,22,51,30,0,4,10,Oct,October,Mon,Monday,PM
13,1973-11-21 16:16:06,1973,11,21,16,16,6,2,4,11,Nov,November,Wed,Wednesday,PM
14,2039-02-11 17:36:14,2039,2,11,17,36,14,4,1,02,Feb,February,Fri,Friday,PM
15,1987-01-09 17:54:49,1987,1,9,17,54,49,4,1,01,Jan,January,Fri,Friday,PM
16,2021-11-16 01:00:42,2021,11,16,1,0,42,1,4,11,Nov,November,Tue,Tuesday,AM
17,1886-06-04 00:09:40,1886,6,4,0,9,40,4,2,06,Jun,June,Fri,Friday,AM
18,1949-12-25 14:03:19,1949,12,25,14,3,19,6,4,12,Dec,December,Sun,Sunday,PM
19,2022-11-26 01:07:40,2022,11,26,1,7,40,5,4,11,Nov,November,Sat,Saturday,AM
20,1982-05-11 03:34:33,1982,5,11,3,34,33,1,2,05,May,May,Tue,Tuesday,AM
21,1938-09-22 16:54:03,1938,9,22,16,54,3,3,3,09,Sep,September,Thu,Thursday,PM
22,1971-12-18 17:14:43,1971,12,18,17,14,43,5,4,12,Dec,December,Sat,Saturday,PM
23,1892-08-12 13:06:53,1892,8,12,13,6,53,4,3,08,Aug,August,Fri,Friday,PM
24,1913-09-21 15:51:03,1913,9,21,15,51,3,6,3,09,Sep,September,Sun,Sunday,PM
25,1886-08-18 11:52:06,1886,8,18,11,52,6,2,3,08,Aug,August,Wed,Wednesday,AM
26,1976-02-10 21:12:35,1976,2,10,21,12,35,1,1,02,Feb,February,Tue,Tuesday,PM
27,1911-01-21 16:29:03,1911,1,21,16,29,3,5,1,01,Jan,January,Sat,Saturday,PM
28,1894-05-23 11:50:10,1894,5,23,11,50,10,2,2,05,May,May,Wed,Wednesday,AM
29,1965-03-08 16:40:46,1965,3,8,16,40,46,0,1,03,Mar,March,Mon,Monday,PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,1949-01-24 21:59:50,1949,1,24,21,59,50,0,1,01,Jan,January,Mon,Monday,PM
471,1955-01-28 15:07:03,1955,1,28,15,7,3,4,1,01,Jan,January,Fri,Friday,PM
472,2019-06-21 15:32:04,2019,6,21,15,32,4,4,2,06,Jun,June,Fri,Friday,PM
473,1905-05-30 12:04:42,1905,5,30,12,4,42,1,2,05,May,May,Tue,Tuesday,PM
474,1994-07-23 04:25:53,1994,7,23,4,25,53,5,3,07,Jul,July,Sat,Saturday,AM
475,1892-06-24 08:42:53,1892,6,24,8,42,53,4,2,06,Jun,June,Fri,Friday,AM
476,1931-08-09 23:09:18,1931,8,9,23,9,18,6,3,08,Aug,August,Sun,Sunday,PM
477,1913-08-22 12:21:32,1913,8,22,12,21,32,4,3,08,Aug,August,Fri,Friday,PM
478,1963-08-23 11:48:35,1963,8,23,11,48,35,4,3,08,Aug,August,Fri,Friday,AM
479,2038-03-15 04:06:51,2038,3,15,4,6,51,0,1,03,Mar,March,Mon,Monday,AM
480,1867-06-22 21:45:30,1867,6,22,21,45,30,5,2,06,Jun,June,Sat,Saturday,PM
481,2025-12-07 18:30:55,2025,12,7,18,30,55,6,4,12,Dec,December,Sun,Sunday,PM
482,1990-03-31 21:27:14,1990,3,31,21,27,14,5,1,03,Mar,March,Sat,Saturday,PM
483,1850-07-14 17:54:44,1850,7,14,17,54,44,6,3,07,Jul,July,Sun,Sunday,PM
484,1936-10-13 12:24:20,1936,10,13,12,24,20,1,4,10,Oct,October,Tue,Tuesday,PM
485,1978-03-13 11:51:15,1978,3,13,11,51,15,0,1,03,Mar,March,Mon,Monday,AM
486,2034-04-30 08:26:45,2034,4,30,8,26,45,6,2,04,Apr,April,Sun,Sunday,AM
487,2042-06-10 14:48:58,2042,6,10,14,48,58,1,2,06,Jun,June,Tue,Tuesday,PM
488,1851-10-31 04:17:08,1851,10,31,4,17,8,4,4,10,Oct,October,Fri,Friday,AM
489,2037-12-06 11:25:03,2037,12,6,11,25,3,6,4,12,Dec,December,Sun,Sunday,AM
490,2011-01-29 17:30:50,2011,1,29,17,30,50,5,1,01,Jan,January,Sat,Saturday,PM
491,1913-03-30 06:47:52,1913,3,30,6,47,52,6,1,03,Mar,March,Sun,Sunday,AM
492,1939-09-07 16:18:40,1939,9,7,16,18,40,3,3,09,Sep,September,Thu,Thursday,PM
493,1939-08-13 09:11:46,1939,8,13,9,11,46,6,3,08,Aug,August,Sun,Sunday,AM
494,1896-04-02 10:02:07,1896,4,2,10,2,7,3,2,04,Apr,April,Thu,Thursday,AM
495,1855-01-09 08:36:07,1855,1,9,8,36,7,1,1,01,Jan,January,Tue,Tuesday,AM
496,1852-04-15 00:48:36,1852,4,15,0,48,36,3,2,04,Apr,April,Thu,Thursday,AM
497,1975-01-08 17:39:55,1975,1,8,17,39,55,2,1,01,Jan,January,Wed,Wednesday,PM
498,1896-10-31 02:48:24,1896,10,31,2,48,24,5,4,10,Oct,October,Sat,Saturday,AM
499,2021-11-03 02:56:41,2021,11,3,2,56,41,2,4,11,Nov,November,Wed,Wednesday,AM

In [15]:
def isweekend(dayofweek):
    if dayofweek in [5,6]:
        weekend = True
    else:
        weekend = False
    return weekend

In [16]:
data["weekend"] = data["dayofweek"].apply(isweekend)

In [17]:
data

,datetime,year,month,day,hour,minute,second,dayofweek,quarter,strftime_%m,strftime_%b,strftime_%B,strftime_%a,strftime_%A,strftime_%p,weekend
0,1861-06-02 01:26:34,1861,6,2,1,26,34,6,2,06,Jun,June,Sun,Sunday,AM,True
1,1935-09-04 15:18:54,1935,9,4,15,18,54,2,3,09,Sep,September,Wed,Wednesday,PM,False
2,1963-08-28 04:40:01,1963,8,28,4,40,1,2,3,08,Aug,August,Wed,Wednesday,AM,False
3,1923-07-17 17:59:22,1923,7,17,17,59,22,1,3,07,Jul,July,Tue,Tuesday,PM,False
4,1954-12-13 21:23:11,1954,12,13,21,23,11,0,4,12,Dec,December,Mon,Monday,PM,False
5,2015-11-12 12:37:36,2015,11,12,12,37,36,3,4,11,Nov,November,Thu,Thursday,PM,False
6,1947-03-01 09:58:40,1947,3,1,9,58,40,5,1,03,Mar,March,Sat,Saturday,AM,True
7,2001-04-28 05:00:06,2001,4,28,5,0,6,5,2,04,Apr,April,Sat,Saturday,AM,True
8,1859-05-16 10:54:21,1859,5,16,10,54,21,0,2,05,May,May,Mon,Monday,AM,False
9,1992-06-30 05:49:15,1992,6,30,5,49,15,1,2,06,Jun,June,Tue,Tuesday,AM,False
10,1956-11-22 21:13:44,1956,11,22,21,13,44,3,4,11,Nov,November,Thu,Thursday,PM,False
11,1977-05-13 14:32:29,1977,5,13,14,32,29,4,2,05,May,May,Fri,Friday,PM,False
12,1955-10-24 22:51:30,1955,10,24,22,51,30,0,4,10,Oct,October,Mon,Monday,PM,False
13,1973-11-21 16:16:06,1973,11,21,16,16,6,2,4,11,Nov,November,Wed,Wednesday,PM,False
14,2039-02-11 17:36:14,2039,2,11,17,36,14,4,1,02,Feb,February,Fri,Friday,PM,False
15,1987-01-09 17:54:49,1987,1,9,17,54,49,4,1,01,Jan,January,Fri,Friday,PM,False
16,2021-11-16 01:00:42,2021,11,16,1,0,42,1,4,11,Nov,November,Tue,Tuesday,AM,False
17,1886-06-04 00:09:40,1886,6,4,0,9,40,4,2,06,Jun,June,Fri,Friday,AM,False
18,1949-12-25 14:03:19,1949,12,25,14,3,19,6,4,12,Dec,December,Sun,Sunday,PM,True
19,2022-11-26 01:07:40,2022,11,26,1,7,40,5,4,11,Nov,November,Sat,Saturday,AM,True
20,1982-05-11 03:34:33,1982,5,11,3,34,33,1,2,05,May,May,Tue,Tuesday,AM,False
21,1938-09-22 16:54:03,1938,9,22,16,54,3,3,3,09,Sep,September,Thu,Thursday,PM,False
22,1971-12-18 17:14:43,1971,12,18,17,14,43,5,4,12,Dec,December,Sat,Saturday,PM,True
23,1892-08-12 13:06:53,1892,8,12,13,6,53,4,3,08,Aug,August,Fri,Friday,PM,False
24,1913-09-21 15:51:03,1913,9,21,15,51,3,6,3,09,Sep,September,Sun,Sunday,PM,True
25,1886-08-18 11:52:06,1886,8,18,11,52,6,2,3,08,Aug,August,Wed,Wednesday,AM,False
26,1976-02-10 21:12:35,1976,2,10,21,12,35,1,1,02,Feb,February,Tue,Tuesday,PM,False
27,1911-01-21 16:29:03,1911,1,21,16,29,3,5,1,01,Jan,January,Sat,Saturday,PM,True
28,1894-05-23 11:50:10,1894,5,23,11,50,10,2,2,05,May,May,Wed,Wednesday,AM,False
29,1965-03-08 16:40:46,1965,3,8,16,40,46,0,1,03,Mar,March,Mon,Monday,PM,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,1949-01-24 21:59:50,1949,1,24,21,59,50,0,1,01,Jan,January,Mon,Monday,PM,False
471,1955-01-28 15:07:03,1955,1,28,15,7,3,4,1,01,Jan,January,Fri,Friday,PM,False
472,2019-06-21 15:32:04,2019,6,21,15,32,4,4,2,06,Jun,June,Fri,Friday,PM,False
473,1905-05-30 12:04:42,1905,5,30,12,4,42,1,2,05,May,May,Tue,Tuesday,PM,False
474,1994-07-23 04:25:53,1994,7,23,4,25,53,5,3,07,Jul,July,Sat,Saturday,AM,True
475,1892-06-24 08:42:53,1892,6,24,8,42,53,4,2,06,Jun,June,Fri,Friday,AM,False
476,1931-08-09 23:09:18,1931,8,9,23,9,18,6,3,08,Aug,August,Sun,Sunday,PM,True
477,1913-08-22 12:21:32,1913,8,22,12,21,32,4,3,08,Aug,August,Fri,Friday,PM,False
478,1963-08-23 11:48:35,1963,8,23,11,48,35,4,3,08,Aug,August,Fri,Friday,AM,False
479,2038-03-15 04:06:51,2038,3,15,4,6,51,0,1,03,Mar,March,Mon,Monday,AM,False
480,1867-06-22 21:45:30,1867,6,22,21,45,30,5,2,06,Jun,June,Sat,Saturday,PM,True
481,2025-12-07 18:30:55,2025,12,7,18,30,55,6,4,12,Dec,December,Sun,Sunday,PM,True
482,1990-03-31 21:27:14,1990,3,31,21,27,14,5,1,03,Mar,March,Sat,Saturday,PM,True
483,1850-07-14 17:54:44,1850,7,14,17,54,44,6,3,07,Jul,July,Sun,Sunday,PM,True
484,1936-10-13 12:24:20,1936,10,13,12,24,20,1,4,10,Oct,October,Tue,Tuesday,PM,False
485,1978-03-13 11:51:15,1978,3,13,11,51,15,0,1,03,Mar,March,Mon,Monday,AM,False
486,2034-04-30 08:26:45,2034,4,30,8,26,45,6,2,04,Apr,April,Sun,Sunday,AM,True
487,2042-06-10 14:48:58,2042,6,10,14,48,58,1,2,06,Jun,June,Tue,Tuesday,PM,False
488,1851-10-31 04:17:08,1851,10,31,4,17,8,4,4,10,Oct,October,Fri,Friday,AM,False
489,2037-12-06 11:25:03,2037,12,6,11,25,3,6,4,12,Dec,December,Sun,Sunday,AM,True
490,2011-01-29 17:30:50,2011,1,29,17,30,50,5,1,01,Jan,January,Sat,Saturday,PM,True
491,1913-03-30 06:47:52,1913,3,30,6,47,52,6,1,03,Mar,March,Sun,Sunday,AM,True
492,1939-09-07 16:18:40,1939,9,7,16,18,40,3,3,09,Sep,September,Thu,Thursday,PM,False
493,1939-08-13 09:11:46,1939,8,13,9,11,46,6,3,08,Aug,August,Sun,Sunday,AM,True
494,1896-04-02 10:02:07,1896,4,2,10,2,7,3,2,04,Apr,April,Thu,Thursday,AM,False
495,1855-01-09 08:36:07,1855,1,9,8,36,7,1,1,01,Jan,January,Tue,Tuesday,AM,False
496,1852-04-15 00:48:36,1852,4,15,0,48,36,3,2,04,Apr,April,Thu,Thursday,AM,False
497,1975-01-08 17:39:55,1975,1,8,17,39,55,2,1,01,Jan,January,Wed,Wednesday,PM,False
498,1896-10-31 02:48:24,1896,10,31,2,48,24,5,4,10,Oct,October,Sat,Saturday,AM,True
499,2021-11-03 02:56:41,2021,11,3,2,56,41,2,4,11,Nov,November,Wed,Wednesday,AM,False