### Import modules

In [1]:
import datetime
import pandas
import numpy

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

### Helper function to generate random dt between year range

In [2]:
def get_random_dt(year_low, year_high):
    
    year = numpy.random.randint(year_low, year_high + 1)
    month = numpy.random.randint(1,13)
    
    if month in [1,3,5,7,8,10,12]:
        day = numpy.random.randint(1,32)
    elif month in [4,6,9,11]:
        day = numpy.random.randint(1,31)
    else:
        day = numpy.random.randint(1,29)
        
    hour = numpy.random.randint(0,24)
    minute = numpy.random.randint(0,60)
    second = numpy.random.randint(0,60)
    
    dt = datetime.datetime(year, month, day, hour, minute, second)
    
    return dt

In [3]:
get_random_dt(1900,2018)

datetime.datetime(1902, 4, 16, 15, 12, 55)

In [4]:
dates = []

for n in range(500):
    dates.append(get_random_dt(1850,2050))

In [5]:
data = pandas.DataFrame(pandas.Series(dates).rename("datetime"))

In [6]:
data.head(10)

             datetime
0 1924-09-11 16:29:12
1 1876-03-27 07:05:47
2 1944-05-21 14:25:05
3 1854-03-17 02:18:33
4 1944-09-19 12:04:03
5 1988-08-24 01:38:56
6 1887-07-01 14:18:33
7 1914-05-11 19:02:17
8 1909-08-29 10:34:27
9 2049-05-07 10:11:30

### Feature Engineering Step
- `strftime()` reference: http://strftime.org/

In [7]:
data["year"] = data["datetime"].dt.year #returns year (integer)
data["month"] = data["datetime"].dt.month #returns month (integer)
data["day"] = data["datetime"].dt.day # returns day (integer)
data["hour"] = data["datetime"].dt.hour # returns hour (integer)
data["minute"] = data["datetime"].dt.minute # returns minute (integer)
data["second"] = data["datetime"].dt.second # returns second (integer)

data["dayofweek"] = data["datetime"].dt.dayofweek # day of week (integer) 0 = monday, 1 = tuesday...
data["quarter"] = data["datetime"].dt.quarter # quarter of year (integer)

data["strftime_%m"] = data["datetime"].dt.strftime("%m") # returns month number (padded string)
data["strftime_%b"] = data["datetime"].dt.strftime("%b") # returns abbreviated month (string)
data["strftime_%B"] = data["datetime"].dt.strftime("%B") # returns long month (string)
data["strftime_%a"] = data["datetime"].dt.strftime("%a") # returns abbreviated day (string)
data["strftime_%A"] = data["datetime"].dt.strftime("%A") # returns long day (string)
data["strftime_%p"] = data["datetime"].dt.strftime("%p") # returns hour suffix (string)

### Preview

In [8]:
data

,datetime,year,month,day,hour,minute,second,dayofweek,quarter,strftime_%m,strftime_%b,strftime_%B,strftime_%a,strftime_%A,strftime_%p
0,1924-09-11 16:29:12,1924,9,11,16,29,12,3,3,09,Sep,September,Thu,Thursday,PM
1,1876-03-27 07:05:47,1876,3,27,7,5,47,0,1,03,Mar,March,Mon,Monday,AM
2,1944-05-21 14:25:05,1944,5,21,14,25,5,6,2,05,May,May,Sun,Sunday,PM
3,1854-03-17 02:18:33,1854,3,17,2,18,33,4,1,03,Mar,March,Fri,Friday,AM
4,1944-09-19 12:04:03,1944,9,19,12,4,3,1,3,09,Sep,September,Tue,Tuesday,PM
5,1988-08-24 01:38:56,1988,8,24,1,38,56,2,3,08,Aug,August,Wed,Wednesday,AM
6,1887-07-01 14:18:33,1887,7,1,14,18,33,4,3,07,Jul,July,Fri,Friday,PM
7,1914-05-11 19:02:17,1914,5,11,19,2,17,0,2,05,May,May,Mon,Monday,PM
8,1909-08-29 10:34:27,1909,8,29,10,34,27,6,3,08,Aug,August,Sun,Sunday,AM
9,2049-05-07 10:11:30,2049,5,7,10,11,30,4,2,05,May,May,Fri,Friday,AM
10,2010-08-11 22:12:00,2010,8,11,22,12,0,2,3,08,Aug,August,Wed,Wednesday,PM
11,1999-11-10 02:14:04,1999,11,10,2,14,4,2,4,11,Nov,November,Wed,Wednesday,AM
12,1924-01-08 11:23:39,1924,1,8,11,23,39,1,1,01,Jan,January,Tue,Tuesday,AM
13,1916-08-10 07:36:13,1916,8,10,7,36,13,3,3,08,Aug,August,Thu,Thursday,AM
14,1975-04-13 01:22:48,1975,4,13,1,22,48,6,2,04,Apr,April,Sun,Sunday,AM
15,1916-09-12 11:40:46,1916,9,12,11,40,46,1,3,09,Sep,September,Tue,Tuesday,AM
16,1919-12-15 16:42:27,1919,12,15,16,42,27,0,4,12,Dec,December,Mon,Monday,PM
17,2032-10-15 13:13:41,2032,10,15,13,13,41,4,4,10,Oct,October,Fri,Friday,PM
18,1985-03-28 17:19:41,1985,3,28,17,19,41,3,1,03,Mar,March,Thu,Thursday,PM
19,1899-08-04 10:09:56,1899,8,4,10,9,56,4,3,08,Aug,August,Fri,Friday,AM
20,2027-04-10 18:07:22,2027,4,10,18,7,22,5,2,04,Apr,April,Sat,Saturday,PM
21,2035-04-03 23:19:50,2035,4,3,23,19,50,1,2,04,Apr,April,Tue,Tuesday,PM
22,1884-02-28 22:03:39,1884,2,28,22,3,39,3,1,02,Feb,February,Thu,Thursday,PM
23,2001-09-11 02:27:32,2001,9,11,2,27,32,1,3,09,Sep,September,Tue,Tuesday,AM
24,1980-06-20 01:29:45,1980,6,20,1,29,45,4,2,06,Jun,June,Fri,Friday,AM
25,1910-07-07 00:30:05,1910,7,7,0,30,5,3,3,07,Jul,July,Thu,Thursday,AM
26,1958-05-13 13:06:13,1958,5,13,13,6,13,1,2,05,May,May,Tue,Tuesday,PM
27,1860-02-08 17:30:41,1860,2,8,17,30,41,2,1,02,Feb,February,Wed,Wednesday,PM
28,1913-01-14 19:21:07,1913,1,14,19,21,7,1,1,01,Jan,January,Tue,Tuesday,PM
29,1998-12-10 07:50:02,1998,12,10,7,50,2,3,4,12,Dec,December,Thu,Thursday,AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,1976-12-18 14:03:28,1976,12,18,14,3,28,5,4,12,Dec,December,Sat,Saturday,PM
471,2030-01-21 16:20:08,2030,1,21,16,20,8,0,1,01,Jan,January,Mon,Monday,PM
472,1983-03-09 03:28:11,1983,3,9,3,28,11,2,1,03,Mar,March,Wed,Wednesday,AM
473,2024-06-12 20:24:15,2024,6,12,20,24,15,2,2,06,Jun,June,Wed,Wednesday,PM
474,1959-11-10 23:33:52,1959,11,10,23,33,52,1,4,11,Nov,November,Tue,Tuesday,PM
475,1976-03-31 13:22:48,1976,3,31,13,22,48,2,1,03,Mar,March,Wed,Wednesday,PM
476,1965-09-12 10:32:48,1965,9,12,10,32,48,6,3,09,Sep,September,Sun,Sunday,AM
477,2017-04-13 20:50:30,2017,4,13,20,50,30,3,2,04,Apr,April,Thu,Thursday,PM
478,1998-08-10 08:47:14,1998,8,10,8,47,14,0,3,08,Aug,August,Mon,Monday,AM
479,1854-07-20 02:33:24,1854,7,20,2,33,24,3,3,07,Jul,July,Thu,Thursday,AM
480,1949-09-19 00:10:48,1949,9,19,0,10,48,0,3,09,Sep,September,Mon,Monday,AM
481,2034-09-03 07:37:18,2034,9,3,7,37,18,6,3,09,Sep,September,Sun,Sunday,AM
482,2029-10-31 07:13:01,2029,10,31,7,13,1,2,4,10,Oct,October,Wed,Wednesday,AM
483,1919-10-08 21:14:08,1919,10,8,21,14,8,2,4,10,Oct,October,Wed,Wednesday,PM
484,1904-07-01 21:30:01,1904,7,1,21,30,1,4,3,07,Jul,July,Fri,Friday,PM
485,2037-02-26 23:02:49,2037,2,26,23,2,49,3,1,02,Feb,February,Thu,Thursday,PM
486,1987-07-06 07:47:20,1987,7,6,7,47,20,0,3,07,Jul,July,Mon,Monday,AM
487,1925-01-22 21:55:28,1925,1,22,21,55,28,3,1,01,Jan,January,Thu,Thursday,PM
488,1858-06-26 02:19:54,1858,6,26,2,19,54,5,2,06,Jun,June,Sat,Saturday,AM
489,1900-12-02 13:48:29,1900,12,2,13,48,29,6,4,12,Dec,December,Sun,Sunday,PM
490,1984-10-31 08:26:09,1984,10,31,8,26,9,2,4,10,Oct,October,Wed,Wednesday,AM
491,1875-07-07 14:20:29,1875,7,7,14,20,29,2,3,07,Jul,July,Wed,Wednesday,PM
492,2008-03-13 21:12:20,2008,3,13,21,12,20,3,1,03,Mar,March,Thu,Thursday,PM
493,1986-03-01 15:21:14,1986,3,1,15,21,14,5,1,03,Mar,March,Sat,Saturday,PM
494,2010-10-19 05:19:09,2010,10,19,5,19,9,1,4,10,Oct,October,Tue,Tuesday,AM
495,1976-02-21 03:24:21,1976,2,21,3,24,21,5,1,02,Feb,February,Sat,Saturday,AM
496,1928-09-26 22:25:41,1928,9,26,22,25,41,2,3,09,Sep,September,Wed,Wednesday,PM
497,1851-02-14 00:20:04,1851,2,14,0,20,4,4,1,02,Feb,February,Fri,Friday,AM
498,1932-03-30 14:37:39,1932,3,30,14,37,39,2,1,03,Mar,March,Wed,Wednesday,PM
499,2042-08-10 13:40:00,2042,8,10,13,40,0,6,3,08,Aug,August,Sun,Sunday,PM

In [9]:
def isweekend(dayofweek):
    if dayofweek in [5,6]:
        weekend = True
    else:
        weekend = False
    return weekend

### Create new column showing weekend boolean

In [10]:
data["weekend"] = data["dayofweek"].apply(isweekend)

In [11]:
data

,datetime,year,month,day,hour,minute,second,dayofweek,quarter,strftime_%m,strftime_%b,strftime_%B,strftime_%a,strftime_%A,strftime_%p,weekend
0,1924-09-11 16:29:12,1924,9,11,16,29,12,3,3,09,Sep,September,Thu,Thursday,PM,False
1,1876-03-27 07:05:47,1876,3,27,7,5,47,0,1,03,Mar,March,Mon,Monday,AM,False
2,1944-05-21 14:25:05,1944,5,21,14,25,5,6,2,05,May,May,Sun,Sunday,PM,True
3,1854-03-17 02:18:33,1854,3,17,2,18,33,4,1,03,Mar,March,Fri,Friday,AM,False
4,1944-09-19 12:04:03,1944,9,19,12,4,3,1,3,09,Sep,September,Tue,Tuesday,PM,False
5,1988-08-24 01:38:56,1988,8,24,1,38,56,2,3,08,Aug,August,Wed,Wednesday,AM,False
6,1887-07-01 14:18:33,1887,7,1,14,18,33,4,3,07,Jul,July,Fri,Friday,PM,False
7,1914-05-11 19:02:17,1914,5,11,19,2,17,0,2,05,May,May,Mon,Monday,PM,False
8,1909-08-29 10:34:27,1909,8,29,10,34,27,6,3,08,Aug,August,Sun,Sunday,AM,True
9,2049-05-07 10:11:30,2049,5,7,10,11,30,4,2,05,May,May,Fri,Friday,AM,False
10,2010-08-11 22:12:00,2010,8,11,22,12,0,2,3,08,Aug,August,Wed,Wednesday,PM,False
11,1999-11-10 02:14:04,1999,11,10,2,14,4,2,4,11,Nov,November,Wed,Wednesday,AM,False
12,1924-01-08 11:23:39,1924,1,8,11,23,39,1,1,01,Jan,January,Tue,Tuesday,AM,False
13,1916-08-10 07:36:13,1916,8,10,7,36,13,3,3,08,Aug,August,Thu,Thursday,AM,False
14,1975-04-13 01:22:48,1975,4,13,1,22,48,6,2,04,Apr,April,Sun,Sunday,AM,True
15,1916-09-12 11:40:46,1916,9,12,11,40,46,1,3,09,Sep,September,Tue,Tuesday,AM,False
16,1919-12-15 16:42:27,1919,12,15,16,42,27,0,4,12,Dec,December,Mon,Monday,PM,False
17,2032-10-15 13:13:41,2032,10,15,13,13,41,4,4,10,Oct,October,Fri,Friday,PM,False
18,1985-03-28 17:19:41,1985,3,28,17,19,41,3,1,03,Mar,March,Thu,Thursday,PM,False
19,1899-08-04 10:09:56,1899,8,4,10,9,56,4,3,08,Aug,August,Fri,Friday,AM,False
20,2027-04-10 18:07:22,2027,4,10,18,7,22,5,2,04,Apr,April,Sat,Saturday,PM,True
21,2035-04-03 23:19:50,2035,4,3,23,19,50,1,2,04,Apr,April,Tue,Tuesday,PM,False
22,1884-02-28 22:03:39,1884,2,28,22,3,39,3,1,02,Feb,February,Thu,Thursday,PM,False
23,2001-09-11 02:27:32,2001,9,11,2,27,32,1,3,09,Sep,September,Tue,Tuesday,AM,False
24,1980-06-20 01:29:45,1980,6,20,1,29,45,4,2,06,Jun,June,Fri,Friday,AM,False
25,1910-07-07 00:30:05,1910,7,7,0,30,5,3,3,07,Jul,July,Thu,Thursday,AM,False
26,1958-05-13 13:06:13,1958,5,13,13,6,13,1,2,05,May,May,Tue,Tuesday,PM,False
27,1860-02-08 17:30:41,1860,2,8,17,30,41,2,1,02,Feb,February,Wed,Wednesday,PM,False
28,1913-01-14 19:21:07,1913,1,14,19,21,7,1,1,01,Jan,January,Tue,Tuesday,PM,False
29,1998-12-10 07:50:02,1998,12,10,7,50,2,3,4,12,Dec,December,Thu,Thursday,AM,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,1976-12-18 14:03:28,1976,12,18,14,3,28,5,4,12,Dec,December,Sat,Saturday,PM,True
471,2030-01-21 16:20:08,2030,1,21,16,20,8,0,1,01,Jan,January,Mon,Monday,PM,False
472,1983-03-09 03:28:11,1983,3,9,3,28,11,2,1,03,Mar,March,Wed,Wednesday,AM,False
473,2024-06-12 20:24:15,2024,6,12,20,24,15,2,2,06,Jun,June,Wed,Wednesday,PM,False
474,1959-11-10 23:33:52,1959,11,10,23,33,52,1,4,11,Nov,November,Tue,Tuesday,PM,False
475,1976-03-31 13:22:48,1976,3,31,13,22,48,2,1,03,Mar,March,Wed,Wednesday,PM,False
476,1965-09-12 10:32:48,1965,9,12,10,32,48,6,3,09,Sep,September,Sun,Sunday,AM,True
477,2017-04-13 20:50:30,2017,4,13,20,50,30,3,2,04,Apr,April,Thu,Thursday,PM,False
478,1998-08-10 08:47:14,1998,8,10,8,47,14,0,3,08,Aug,August,Mon,Monday,AM,False
479,1854-07-20 02:33:24,1854,7,20,2,33,24,3,3,07,Jul,July,Thu,Thursday,AM,False
480,1949-09-19 00:10:48,1949,9,19,0,10,48,0,3,09,Sep,September,Mon,Monday,AM,False
481,2034-09-03 07:37:18,2034,9,3,7,37,18,6,3,09,Sep,September,Sun,Sunday,AM,True
482,2029-10-31 07:13:01,2029,10,31,7,13,1,2,4,10,Oct,October,Wed,Wednesday,AM,False
483,1919-10-08 21:14:08,1919,10,8,21,14,8,2,4,10,Oct,October,Wed,Wednesday,PM,False
484,1904-07-01 21:30:01,1904,7,1,21,30,1,4,3,07,Jul,July,Fri,Friday,PM,False
485,2037-02-26 23:02:49,2037,2,26,23,2,49,3,1,02,Feb,February,Thu,Thursday,PM,False
486,1987-07-06 07:47:20,1987,7,6,7,47,20,0,3,07,Jul,July,Mon,Monday,AM,False
487,1925-01-22 21:55:28,1925,1,22,21,55,28,3,1,01,Jan,January,Thu,Thursday,PM,False
488,1858-06-26 02:19:54,1858,6,26,2,19,54,5,2,06,Jun,June,Sat,Saturday,AM,True
489,1900-12-02 13:48:29,1900,12,2,13,48,29,6,4,12,Dec,December,Sun,Sunday,PM,True
490,1984-10-31 08:26:09,1984,10,31,8,26,9,2,4,10,Oct,October,Wed,Wednesday,AM,False
491,1875-07-07 14:20:29,1875,7,7,14,20,29,2,3,07,Jul,July,Wed,Wednesday,PM,False
492,2008-03-13 21:12:20,2008,3,13,21,12,20,3,1,03,Mar,March,Thu,Thursday,PM,False
493,1986-03-01 15:21:14,1986,3,1,15,21,14,5,1,03,Mar,March,Sat,Saturday,PM,True
494,2010-10-19 05:19:09,2010,10,19,5,19,9,1,4,10,Oct,October,Tue,Tuesday,AM,False
495,1976-02-21 03:24:21,1976,2,21,3,24,21,5,1,02,Feb,February,Sat,Saturday,AM,True
496,1928-09-26 22:25:41,1928,9,26,22,25,41,2,3,09,Sep,September,Wed,Wednesday,PM,False
497,1851-02-14 00:20:04,1851,2,14,0,20,4,4,1,02,Feb,February,Fri,Friday,AM,False
498,1932-03-30 14:37:39,1932,3,30,14,37,39,2,1,03,Mar,March,Wed,Wednesday,PM,False
499,2042-08-10 13:40:00,2042,8,10,13,40,0,6,3,08,Aug,August,Sun,Sunday,PM,True